<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
          {% block title %}
            Rent a Car!
          {% endblock %}
        </title>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="container">

  		<h1 class="text-center">Rent a Car!</h1>
  	<div class"row">
        <div id="menu">
          <nav>
            <div class="nav-wrapper">
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>Lista samochodów</li>
                <li>Twoje konto</li>

              </ul>
            </div>
          </nav>

  		  </div>
  			</div>
      <div class="row">

		    <div class="col s12">

    			  {% block body %}{% endblock %}
		  </div>
		</div>


        <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
