{% extends "::base.html.twig" %}

{% block body %}

  {% for car in cars %}
    <div class="col s4">
      <a href="car/{{car.id}}">
        <p>{{ car.photo }}</p>
        <p class="btn">{{ car.name }}</p>
      </a>
      <hr/>
    </div>
  {% endfor %}

{% endblock %}
