{% extends "::base.html.twig" %}

{% block title %}Rent {{ car.name }}{% endblock %}

{% block body %}
<h1>{{ car.name }}</h1>

<p></p>
<p>Color: {{ car.color }}</p>
<p>Horsepower: {{ car.horsepower }}</p>

<p class="btn">RENT!</p>

{% endblock %}
